{% extends 'base.html' %}

{% block content %}
    {% load crispy_forms_tags %}
    <section class="h-100 h-custom" style="background-color: #a6d0f3;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
              <div class="card rounded-3">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
                  class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                  alt="Sample photo">
                <div class="card-body p-4 p-md-5">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>
                  <form method="POST" action="" class="row needs-validation" novalidate>
                    {% csrf_token %}
        
                    
                            {{ form  | crispy  }}
                           <p>
                            <a class="card-link" href="{% url 'home' %}">Inicio</a>
                            <a class="card-link" href="{% url 'login' %}">Iniciar sesión</a>
        
                            <button class="btn btn-sm btn-success float-end" type="submit">Registrarse</button>
                           </p>
                  </form>
                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}