

<div class="container my-5" style="position:fixed;"></div>
<div class="row">
  <div class="col bg-dark text-white">
    <div class="col-lg-6 col-md-12 mb-4 mb-md-0"">
      <h5 style="margin:30px;" class="text-uppercase">Contactos</h5>
      <ul style="margin: 30px;">
        <li> <i>Cerro cordillera 252, Lampa, R.Metropolitana</i></li>
        <li><i>carwash@inovadc.cl</i></li>
        <li><i>+562 3456 7890</i></li>
        <li><i>+569 4809 8990</i></li>
      </ul>
    </div>


    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      <div class="d-flex justify-content-center">
        <a href="" class="me-4 text-reset">
          <img src="/static/img/twitter.png" width="20" alt="">
        </a>
        <a href="" class="me-4 text-reset">
          <img src="/static/img/facebook.png" width="20" alt="">
        </a>
        <a href="" class="me-4 text-reset">
          <img src="/static/img/new.png" width="20" alt="">
        </a>
        <a href="" class="me-4 text-reset">
          <img src="/static/img/instagram.png" width="20" alt="">
        </a>
        <a href="" class="me-4 text-reset">
        <img src="/static/img/linkedin.png" width="20" alt="">
        </a>
       
      </div>
      © 2024 Copyright:
      <a class="text-body" href="https://mdbootstrap.com/">InovadCare</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>


</div>
</div>
</div>